<div>
    <div class="heading">
        <h1 class="c5">Data Binding</h1>
        <h2>{{title}}</h2>
        <div>
            Component to view =>
            1) Interpolation
            2) Property Binding
            3) Style Binding
            4) Attribute Binding
        </div>
        <div>
            view to component =>
            1) Event Binding
        </div>
        <h2>{{title2}}</h2>
        <h2 class="c1">OneWay Data Binding</h2>
        <h2 class="c6"> Interpolation</h2>
        <h2>{{page_count}}</h2>
        <h2>{{user_object.first_name}} {{user_object.last_name}}</h2>
        <h2>{{array}}</h2>

        <h2 class="c6">Interpolation Using ngIf</h2>
        <h2 *ngIf="isUserLoggedIn">{{name1.first_name}} {{name1.last_name}}</h2>

        <h2 class="c6">Interpolation Using ngFor</h2>
        <h2 *ngFor="let contact of contact; let i=index"> {{i+1}} &nbsp;{{contact.firstName}} {{contact.MobileNo}}
            {{contact.placeOfBirth}}</h2>
        <table class="table">
            <tr>
                <th> First Name of person </th>
                <th> Last Name of person</th>
                <th> Place of Birth </th>
            </tr>
            <tr *ngFor="let contact of contact">
                <td> {{contact.firstName}} </td>
                <td> {{contact.MobileNo}} </td>
                <td> {{contact.placeOfBirth}} </td>
            </tr>
        </table>
        <p>{{'Server'}} with ID {{ serverId }} is {{ getServerStatus() }}</p>

        <h2 class="c6">Property Binding</h2>
        <button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button><br>
        <p>{{allowNewServer}}</p>
        <p [innerText]="allowNewServer"></p>     
        <div [innerHTML]="user_object.first_name"></div>
        <div [innerHTML]="text"></div>
        <p [hidden]="isShow" [title]="text1">Veeresh</p>
        <img [src]="source" width="200" height="150"><br><br>
        <!-- Diffrence between property and string interpolation -->
        <div>
            <input type="text" [value]="name" [disabled]="disableBox"><br><br>
            <input type="text" value="{{name}}" disabled={{disableBox}}><br><br>
            <button class="btn btn-primary" (click)="showInput()">Enable textbox</button>
        </div><br>

        <table class="table">
            <tr>
                <td> Slno </td>
                <td> contacts </td>
                <td> Mobile no </td>
            </tr>
            <tr>
                <td [attr.colspan]="colVal">01</td>
                <td> 9986126600 </td>
            </tr>
        </table>

        <h2 class="c6">Event Binding</h2>

        <h1 *ngIf="showMassage">Hello </h1>

        <button (click)="sayHello()">Click to say Hello</button><br><br>
        <button (click)="onCreateServer()" class="btn btn-primary" >Change Server</button>
        <p>{{serverCreationStatus}}</p>

        <div (mouseover)="highlightBgColor()">Click to say Hello</div>
        <input type="text" (focus)="focusOn()" />
        <div style="background-color: rgb(229, 46, 46); width: 50%;padding: 10px;" [hidden]="displayHide">Event Binding
            Example </div>
        <button (click)="hideContent()">Hide</button><br><br>
        <label> Search :</label>
        <input type="text" (input)="changeSearchValue($event)"> <span *ngIf="searchValue != ''"> You Searched : {{searchValue}}</span> <br><br>


        <h1 class="c1">TwoWay Data Binding</h1>
        <input type="text" [(ngModel)]="user_name" />
        <p>You have Entered : {{user_name}}</p>

        <input type="text" [(ngModel)]="twoWay">
        <h4>{{twoWay}}</h4>

        <h3><u>Sending Data from HTML to Typescript(On console)</u> </h3>

        <input type="text" [(ngModel)]="user1" />
        <p class="error" *ngIf="errorMassage">The user does not exist</p><br><br>
        <button (click)="getUser1($event)">Click</button><br>
        
    </div>

